@* @{
    ViewData["Title"] = "Home Page";
}

@{
    string username = User.Identity.Name;
}
<div>

    Welcome @username
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@
@{
    ViewBag.Title = "Accueil";
}


<!--service-->
<section id="service" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h2 class="ser-title">Notre offre</h2>
                <hr class="botm-line">
                <p>Nos professionnels diplômés d'état possèdent une vaste expérience et expertise, leur permettant de vous accompagner, quelle que soit la nature de vos besoins en soins paramédicaux.</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-stethoscope"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Assistance 7 jours sur 7</h4>
                        <p>
                            Nos cabinets à Paris et en région parisienne sont ouverts le samedi et le dimanche pour vous permettre d'accéder à des soins quel que soit le jour de la semaine.
                            Nous proposons un centre de soins spécialisés pour les enfants de moins de 18 ans dans nos cabinets parisiens.
                        </p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-ambulance"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Traitements en urgence</h4>
                        <p>
                            Nos cabinets à Paris et en région parisienne sont ouverts le samedi et le dimanche pour vous permettre d'accéder à des soins quel que soit le jour de la semaine.
                            Nous proposons un centre de soins spécialisés pour les enfants de moins de 18 ans dans nos cabinets parisiens.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Recherche paramédicale</h4>
                        <p>Nous investissons dans certains des traitements les plus innovants au monde et contribuons à leur mise au point, afin de vous accompagner au mieux.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-medkit"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Soins paramédicaux haut de gamme</h4>
                        <p>Nous investissons dans certains des traitements les plus innovants au monde et contribuons à leur mise au point, afin de vous accompagner au mieux.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ service-->
<!--doctor team-->
<section id="doctor-team" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Faites la connaissance de nos professionnels</h2>
                <hr class="botm-line">
            </div>
         @*    @if (Model.Consultants != null)
            {
                int i = 0;
                foreach (var consultant in Model.Consultants)
                {
                    i++;
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="thumbnail">
                            <img src=@String.Format("img/doctor{0}.jpg", i) alt="..." class="team-img">
                            <div class="caption">
                                <h3>@consultant.FirstName </h3>
                                <p>@consultant.Speciality</p>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                } *@
            @* } *@
        </div>
    </div>
</section>
<!--/ doctor team-->
<!--contact-->
<section id="contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Nous contacter</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-4 col-sm-4">
                <h3>Contact Info</h3>
                <div class="space"></div>
                <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>32 Boulevard de la Sérénité<br> 75000 Paris</p>
                <div class="space"></div>
                <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>info@harmonie-sante-paramedical.fr</p>
                <div class="space"></div>
                <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+33 01 12 31 23 45</p>
            </div>
            <div class="col-md-8 col-sm-8 marb20">
                <div class="contact-info">
                    <h3 class="cnt-ttl">Vous avez une question ? Vous voulez prendre rendez-vous ?</h3>
                    <div class="space"></div>
                    <div id="sendmessage">Votre message a bien été envoyé. Merci !</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Vos nom et prénom" data-rule="minlen:4" data-msg="Veuillez entrer 4 caractères minimum." />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Votre adress email" data-rule="email" data-msg="Veuillez entrer une adresse valable." />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Objet" data-rule="minlen:4" data-msg="Veuillez entrer 8 caractères minimum." />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Veuillez nous écrire un message." placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>

                        <div class="form-action">
                            <button type="submit" class="btn btn-form">Envoyer message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ contact-->